In [5]:
import pandas as pd

In [6]:
# 1 - The column names have spaces . rename the column names to have underscore '_' instead of space 
# (try to do in one go instead of specifying each column nam in rename method)

In [7]:
df_iphones = pd.read_csv('iphone.csv')

In [10]:
df_iphones.columns = df_iphones.columns.str.replace(' ','_')

In [11]:
df_iphones

,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

In [19]:
################################################################################################

In [ ]:
# 2- start rating for some of the models is missing in the dataset. 
# fill those missing values with the average rating all the models.

In [22]:
avg_rating = round(df_iphones['Star_Rating'].mean(),2)

In [24]:
df_iphones['Star_Rating'].fillna(value=avg_rating, inplace=True)

In [27]:
################################################################################################

In [ ]:
# 3- Now instead of filling missing values with avg rating of full dataset , 
# fill with avg rating based on RAM. example : 
# if rating for a 2 gb phone is missing then take average of all other 2 gb phones rating and fill that value.

In [38]:
df_phones_ram_avg_rating = df_iphones.groupby('Ram', as_index=False).agg({'Star_Rating':'mean'})

In [39]:
df_iphones_merged = pd.merge(left=df_iphones, right=df_phones_ram_avg_rating, how='left', left_on='Ram', right_on='Ram')

In [42]:
df_iphones_merged

,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating_x,Ram,Star_Rating_y
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB,4.541667
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB,4.541667
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB,4.541667
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB,4.541667
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB,4.541667
...,...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB,4.589286
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB,4.589286
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB,4.589286
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB,4.589286
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB,4.589286

In [44]:
df_iphones_merged['Star_Rating_x'].fillna(value=df_iphones_merged['Star_Rating_y'], inplace=True)

In [ ]:
################################################################################################

In [45]:
# 4- create a new column in the dataframe "Discount_Percentage" based on MRP and sale value

In [51]:
df_iphones['Discount_Percentage'] = round(((df_iphones['Mrp'] - df_iphones['Sale_Price']) / df_iphones['Mrp']) * 100)

In [ ]:
################################################################################################

In [ ]:
# 5- which model has highest percent discount?

In [57]:
fc =  df_iphones['Discount_Percentage'] == df_iphones['Discount_Percentage'].max()

In [56]:
df_iphones[fc]

,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating,Ram,Discount_Percentage
18,"APPLE iPhone 11 Pro (Midnight Green, 64 GB)",https://www.flipkart.com/apple-iphone-11-pro-m...,Apple,74999,106600,7088,523,MOBFKCTSN3TG3RFJ,4.6,4 GB,30.0

In [ ]:
################################################################################################

In [58]:
# 6- find total no of models  each space configuration (128 GB , 64 GB etc)

In [73]:
df_iphones.groupby('Ram', as_index=False).agg({'Product_Name':'count'})

    Ram  Product_Name
0  2 GB            13
1  3 GB             1
2  4 GB            29
3  6 GB            19

In [ ]:
################################################################################################

In [74]:
# 7- find total number of models for each color

In [79]:
def get_iphone_color(model_name):
    return model_name.split('(')[1].split(',')[0]

In [81]:
df_iphones['Phone_Color'] = df_iphones['Product_Name'].apply(get_iphone_color)

In [84]:
df_iphones.groupby('Phone_Color', as_index=False).agg({'Product_Name':'count'})

       Phone_Color  Product_Name
0            Black            10
1             Blue             2
2            Coral             1
3             Gold             6
4         Graphite             4
5            Green             1
6   Midnight Green             4
7     Pacific Blue             4
8           Purple             1
9              RED             1
10             Red             5
11          Silver             7
12      Space Grey             6
13           White            10

In [85]:
df_iphones

,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating,Ram,Discount_Percentage,Phone_Color
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB,0.0,Gold
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB,0.0,Space Grey
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB,0.0,Silver
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB,0.0,Silver
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB,0.0,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB,25.0,Black
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB,14.0,Purple
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB,14.0,White
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB,14.0,Black
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB,14.0,Red

In [ ]:
################################################################################################

In [1]:
# 8- find total number of models by iphone version : eg
# iphone 8:  9
# iphone XR : 5

In [14]:
def get_model_name(model_name):
    return model_name.split('(')[0]

In [16]:
df_iphones['Model_Name'] = df_iphones['Product_Name'].apply(get_model_name)

In [17]:
df_iphones

,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating,Ram,Model_Name
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB,APPLE iPhone 8 Plus
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB,APPLE iPhone 8 Plus
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB,APPLE iPhone 8 Plus
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB,APPLE iPhone 8
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB,APPLE iPhone 8
...,...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB,APPLE iPhone SE
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB,APPLE iPhone 11
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB,APPLE iPhone 11
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB,APPLE iPhone 11
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB,APPLE iPhone 11

In [ ]:
################################################################################################

In [18]:
# 9- list top 5 models having highest no of reviews

In [21]:
model_reviews = df_iphones.groupby('Model_Name', as_index=False).agg({'Number_Of_Reviews':'sum'})

In [25]:
model_reviews.sort_values('Number_Of_Reviews',ascending=False)[0:5]

          Model_Name  Number_Of_Reviews
9   APPLE iPhone SE               40791
12  Apple iPhone XR               33988
0   APPLE iPhone 11               23369
11  Apple iPhone SE                8161
7    APPLE iPhone 8                2382

In [ ]:
################################################################################################

In [26]:
# 10 - what is the price diffrence between highest price and lowest price iphone (based on mrp)

In [27]:
highest_price = df_iphones['Mrp'].max()
lowest_price = df_iphones['Mrp'].min()

In [28]:
highest_price - lowest_price

110000

In [ ]:
################################################################################################

In [29]:
# 11 - find total no of reviews for iphone 11 and iphone 12 category . Output should have only 2 rows (for 11 and 12).

In [42]:
iphone_11_tot_reviews = [df_iphones[df_iphones['Model_Name'].str.contains('11')]['Number_Of_Ratings'].sum()]
iphone_12_tot_reviews = [df_iphones[df_iphones['Model_Name'].str.contains('12')]['Number_Of_Ratings'].sum()]

In [44]:
iphone11_df = pd.DataFrame(iphone_11_tot_reviews, index=['iphone_11'], columns=['Total_Reviews'])
iphone12_df = pd.DataFrame(iphone_12_tot_reviews, index=['iphone_12'], columns=['Total_Reviews'])

In [48]:
pd.concat([iphone11_df, iphone12_df])

           Total_Reviews
iphone_11         338499
iphone_12          26471

In [ ]:
################################################################################################

In [49]:
# 12- which iphone has 3rd highest MRP

In [53]:
get_mrp_products = df_iphones.groupby('Product_Name', as_index=False).agg({'Mrp':'sum'}) #.sort_values('Mrp', ascending=False)

In [56]:
get_mrp_products['ranking'] = get_mrp_products['Mrp'].rank(method='dense', ascending=False)

In [61]:
fc = get_mrp_products['ranking'] == 3
get_mrp_products[fc].sort_values('ranking')

                                      Product_Name     Mrp  ranking
35          APPLE iPhone 12 Pro Max (Gold, 256 GB)  139900      3.0
37      APPLE iPhone 12 Pro Max (Graphite, 256 GB)  139900      3.0
39  APPLE iPhone 12 Pro Max (Pacific Blue, 256 GB)  139900      3.0
41        APPLE iPhone 12 Pro Max (Silver, 256 GB)  139900      3.0

In [ ]:
################################################################################################

In [62]:
# 13- what is the average mrp of iphones which costs above 100,000

In [68]:
iphones_avg_mrp = df_iphones[df_iphones['Mrp'] > 100000].groupby('Model_Name', as_index=False).agg({'Mrp':'mean'})

In [69]:
iphones_avg_mrp.columns = ['Model_Name','Avg_Mrp']

In [70]:
iphones_avg_mrp

                 Model_Name   Avg_Mrp
0      APPLE iPhone 11 Pro   127125.0
1  APPLE iPhone 11 Pro Max   123020.0
2      APPLE iPhone 12 Pro   133900.0
3  APPLE iPhone 12 Pro Max   134900.0

In [ ]:
################################################################################################

In [71]:
# 14- which iphone with 128 GB space has highest ratings to review ratio

In [79]:
iphones_with_128_storage = df_iphones[df_iphones['Product_Name'].str.contains('128')]

In [80]:
iphones_with_128_storage

,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating,Ram,Model_Name
9,"Apple iPhone XR (RED, 128 GB)",https://www.flipkart.com/apple-iphone-xr-produ...,Apple,41999,52900,79512,6796,MOBF9Z7ZHQC23PWQ,4.6,4 GB,Apple iPhone XR
11,"Apple iPhone XR (Coral, 128 GB)",https://www.flipkart.com/apple-iphone-xr-coral...,Apple,41999,52900,79582,6804,MOBF9Z7ZS6GF5UAP,4.6,4 GB,Apple iPhone XR
12,"Apple iPhone XR (Black, 128 GB)",https://www.flipkart.com/apple-iphone-xr-black...,Apple,41999,52900,79512,6796,MOBF9Z7ZYWNFGZUC,4.6,3 GB,Apple iPhone XR
13,"Apple iPhone XR (White, 128 GB)",https://www.flipkart.com/apple-iphone-xr-white...,Apple,41999,52900,79512,6796,MOBF9Z7ZZY3HCDZZ,4.6,4 GB,Apple iPhone XR
26,"APPLE iPhone 12 Mini (White, 128 GB)",https://www.flipkart.com/apple-iphone-12-mini-...,Apple,64900,74900,740,64,MOBFWBYZAGXJRDGB,4.5,4 GB,APPLE iPhone 12 Mini
29,"APPLE iPhone 12 (White, 128 GB)",https://www.flipkart.com/apple-iphone-12-white...,Apple,75900,84900,2101,180,MOBFWBYZBTZFGJF9,4.6,6 GB,APPLE iPhone 12
30,"APPLE iPhone 12 Pro (Graphite, 128 GB)",https://www.flipkart.com/apple-iphone-12-pro-g...,Apple,110900,119900,545,42,MOBFWBYZBZ7Y56WD,4.5,6 GB,APPLE iPhone 12 Pro
32,"APPLE iPhone 12 Pro Max (Graphite, 128 GB)",https://www.flipkart.com/apple-iphone-12-pro-m...,Apple,120900,129900,580,45,MOBFWBYZFDGQSDWS,NaN,6 GB,APPLE iPhone 12 Pro Max
33,"APPLE iPhone 12 Mini (Black, 128 GB)",https://www.flipkart.com/apple-iphone-12-mini-...,Apple,64900,74900,730,63,MOBFWBYZH2AMPNPD,4.5,4 GB,APPLE iPhone 12 Mini
34,"APPLE iPhone 12 Mini (Blue, 128 GB)",https://www.flipkart.com/apple-iphone-12-mini-...,Apple,64900,74900,730,63,MOBFWBYZHU58PHCZ,4.5,4 GB,APPLE iPhone 12 Mini
35,"APPLE iPhone 12 (Black, 128 GB)",https://www.flipkart.com/apple-iphone-12-black...,Apple,75900,84900,2101,180,MOBFWBYZK3HACR72,4.6,6 GB,APPLE iPhone 12
36,"APPLE iPhone 12 (Blue, 128 GB)",https://www.flipkart.com/apple-iphone-12-blue-...,Apple,75900,84900,2101,180,MOBFWBYZKPTZF9VG,4.6,6 GB,APPLE iPhone 12
37,"APPLE iPhone 12 Pro Max (Silver, 128 GB)",https://www.flipkart.com/apple-iphone-12-pro-m...,Apple,120900,129900,580,45,MOBFWBYZNSNVGGZC,4.6,6 GB,APPLE iPhone 12 Pro Max
39,"APPLE iPhone 12 Pro Max (Gold, 128 GB)",https://www.flipkart.com/apple-iphone-12-pro-m...,Apple,120900,129900,580,45,MOBFWBYZQVKT77YH,4.6,6 GB,APPLE iPhone 12 Pro Max
40,"APPLE iPhone 12 (Green, 128 GB)",https://www.flipkart.com/apple-iphone-12-green...,Apple,75900,84900,2092,178,MOBFWBYZQXUEHF48,4.6,6 GB,APPLE iPhone 12
44,"APPLE iPhone 12 (Red, 128 GB)",https://www.flipkart.com/apple-iphone-12-red-1...,Apple,75900,84900,2101,180,MOBFWBYZUHPFWQRD,4.6,6 GB,APPLE iPhone 12
46,"APPLE iPhone 12 Pro (Pacific Blue, 128 GB)",https://www.flipkart.com/apple-iphone-12-pro-p...,Apple,110900,119900,545,42,MOBFWBYZXYSCEEEH,4.5,6 GB,APPLE iPhone 12 Pro
47,"APPLE iPhone 12 Pro Max (Pacific Blue, 128 GB)",https://www.flipkart.com/apple-iphone-12-pro-m...,Apple,120900,129900,580,45,MOBFWBYZZABKHZQA,4.6,6 GB,APPLE iPhone 12 Pro Max
50,"APPLE iPhone 11 (White, 128 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,54999,59900,43707,3357,MOBFWQ6B7KKRXDDS,4.6,4 GB,APPLE iPhone 11
51,"APPLE iPhone 11 (Red, 128 GB)",https://www.flipkart.com/apple-iphone-11-red-1...,Apple,54999,59900,43707,3357,MOBFWQ6BEZTNK59G,4.6,4 GB,APPLE iPhone 11
53,"APPLE iPhone SE (Black, 128 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,34999,44900,95909,8161,MOBFWQ6BHUEVZPXD,4.5,2 GB,APPLE iPhone SE
54,"APPLE iPhone SE (White, 128 GB)",https://www.flipkart.com/apple-iphone-se-white...,Apple,34999,44900,95807,8154,MOBFWQ6BJEHMUUZY,4.5,2 GB,APPLE iPhone SE
55,"APPLE iPhone SE (Red, 128 GB)",https://www.flipkart.com/apple-iphone-se-red-1...,Apple,34999,44900,95909,8161,MOBFWQ6BJTVFKPEJ,4.5,2 GB,APPLE iPhone SE
56,"APPLE iPhone 11 (Black, 128 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,54999,59900,43470,3331,MOBFWQ6BKRYBP5X8,4.6,4 GB,APPLE iPhone 11

In [93]:
iphones_with_128_storage.loc[iphones_with_128_storage.index,'rating_reviews_ratio'] =
round(iphones_with_128_storage.loc[iphones_with_128_storage.index,'Number_Of_Ratings'] / 
      iphones_with_128_storage.loc[iphones_with_128_storage.index,'Number_Of_Reviews'],2)

In [94]:
iphones_with_128_storage.loc[iphones_with_128_storage.index,'ranking'] = 
iphones_with_128_storage['rating_reviews_ratio'].rank(method='dense', ascending=False)

In [97]:
iphones_with_128_storage[iphones_with_128_storage['ranking'] == 1]

,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating,Ram,Model_Name,rating_reviews_ratio,ranking
56,"APPLE iPhone 11 (Black, 128 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,54999,59900,43470,3331,MOBFWQ6BKRYBP5X8,4.6,4 GB,APPLE iPhone 11,13.05,1.0

In [99]:
# Validation
iphones_with_128_storage['rating_reviews_ratio'].max()

13.05